.product-detail-info-container {
    height: 600px;
    width: 96.2%;
    background-color: white;
    display: inline-flex;
    padding: 30px;
    font-family: "Open Sans";
}

.product-detail-info-section {
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
}

.product-detail-others-section {
    width: 30%;
}

.product-detail-pricing-history-section {
    height: 295px;
    padding-right: 30px;
}

.product-detail-coupons-other-deals-section {
    height: 270px;
    padding-right: 30px;
}

.product-information-section {
    height: 470px;
}

.product-tags-section {
    height: 40px;
    background-color: lightgray;
    padding: 10px;
    margin-top: 30px;
}

.product-tags-content {
    padding-top: 10px;
}

.tags-title {
    font-weight: bold;
}