<div class="product-detail-info-container">

    <div class="product-detail-info-section">
        <div class="product-information-section">
            <product-info-detail-info [deal]="deal"></product-info-detail-info>
        </div>
        <div class="product-tags-section">
            <div class="product-tags-content">
                <span class="tags-title">TAGS : </span> Electronics, headphones, beats, bluetooth
            </div>
        </div>
    </div>

    <div class="product-detail-others-section">
        <div class="product-detail-pricing-history-section">
            <product-info-pricing-history></product-info-pricing-history>
        </div>
        <div class="product-detail-coupons-other-deals-section">
            <product-info-coupons-other-deals></product-info-coupons-other-deals>
        </div>
    </div>
</div>