<md-menu #appMenu="mdMenu">
    <button md-menu-item [mdMenuTriggerFor]="nestedMenu"  (click)="buttonClicked()" > Settings </button>
    <button md-menu-item> Help </button>
</md-menu>
<md-menu #nestedMenu="mdMenu" class="nested-menu" [overlapTrigger]="false"  >

    <button md-menu-item> display </button>
    <button md-menu-item> volume </button>

</md-menu>
<button md-icon-button [mdMenuTriggerFor]="appMenu">
   <md-icon>more_vert</md-icon>
</button>
