.coupons-other-deals-container {
    border: 1px solid lightgray;
}
    
.coupons-other-deals-section {
    height: 180px;
    padding: 10px;
    font-size: small;
    font-family: "Open Sans";

}

.coupon-other-deal-section {
    border-bottom: 1px solid lightgray;
    color:#b5b5b5;
    font-size: x-small;
}

.coupon-other-deal {
    display: inline-flex;
    height: 30px;
    padding-top: 5px;
}

.coupon-other-deals-title {
    height: 40px;
    font-family: "Open-Sans";
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    font-size: 15px;
    background-color: lightgray;
    color: #7b7b7b;
}
