<div class="coupons-other-deals-container">
    <div class="coupons-other-deals-section">
        <div class="coupon-other-deal-section" *ngFor="let couponOtherDeal of couponsOtherDeals">
            <div class="coupon-other-deal">
                <div class="coupon-other-deal-date-info">
                    {{ couponOtherDeal.date }} | {{ couponOtherDeal.deal }}
                </div>
            </div>
        </div>
    </div>

    <div class="coupon-other-deals-title">
        Coupons & Other Deals
    </div>
</div>