/deep/ .mat-tab-header
    {
    display: flex !important;
    padding-left: 28.2% !important;
    background-color:#3a3a3a;
    width: 68.6%;
    color: white !important;
    border-bottom: none !important;
    align-items: center;
    height:30px;
    }

/deep/ .tabclass
{
  width: 100%;
}
/deep/ .mat-tab-group
{
  height: 100%;

}
/deep/ .mat-tab-body-wrapper
{
    height: 100%;
    width: 99.8%;
    overflow-x:hidden !important;
    overflow-y:hidden !important;
}
/deep/ .mat-tab-body.mat-tab-body-active[_ngcontent-c4] {
    position: relative;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    z-index: 1;
    flex-grow: 1;
}

/deep/ .mat-tab-label {
 font-size: 11px !important;
 min-width: 60px !important;
 color:#ffffff !important;
}

/deep/ .mat-ink-bar {
    background-color: #74D4F3 !important;
}
/deep/.sub-header{
    color: #e3e3e3 !important;
    position: relative;
    left: 100px;
    font-style: italic;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 100;
}

.nmenu{
  margin:0px;
  padding-left: 0px;
}
/deep/.mat-tab-body-content{
    overflow: hidden !important;
}