<div>
  <div class="sub-header"> Share deals, get paid!</div>
  <md-tab-group class='tabclass' [(selectedIndex)]=selectedTab #tabGroup (selectChange)="onChange()">
    <md-tab label="Deals">
      <menu class='nmenu'></menu>
      <router-outlet></router-outlet>
    </md-tab>
    <md-tab label="Retailers">
      <menu class='nmenu'></menu>
      <h1> Working with retailers...</h1>
    </md-tab>
    <md-tab label="Coupons">
      <menu class='nmenu'></menu>
      <h1>Coupon hunt is on </h1>
    </md-tab>
    <md-tab label="Forums">
      <menu class='nmenu'></menu>
      <h1>No forums available</h1>
    </md-tab>
    <md-tab label="Reviews">
      <menu class='nmenu'></menu>
      <h1>No reviews avaialble </h1>
    </md-tab>
    <md-tab label="Blog">
      <menu class='nmenu'></menu>
      <h1>No blogs avaialble </h1>
    </md-tab>
    <md-tab label="About">
      <menu class='nmenu'></menu>
      <h1>We are no.1 deal hunter </h1>
    </md-tab>
  </md-tab-group>
  <!-- <router-outlet></router-outlet> -->
</div>