/deep/ .header, .mat-card
{
  display: inline-flex;
  width: 99.8%;
  position: relative;
  top:3%;
  padding-top:1%;
  box-shadow: none !important;
  background-color: #3a3a3a;
  height: 50px;
  padding: 0px !important;
  font-family: "Open Sans";
}
.title
{
  position:absolute;
  left:60px;
  top:20%;
  color: #4bc6ef;
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Open Sans"
}
.searchbox
{
height: 32px;
width:36%;
border-color: #4bc6ef;
border-width:thin;
border-style: ridge;
font-weight: lighter;
position:absolute;
top:35%;
left:29.5%;
border-radius:3px 0px 0px 3px;
font-family: "Open Sans";
font-size:medium;
}

.material-icons
{
  background-color: #4bc6ef;
  width: 24px;
  height: 32px;
  cursor: pointer;
  position:absolute;
  top:36.4%;
  left:65%;
  border-radius: 0px 3px 3px 0px;
}
.login, .signup
{
background-color: #4bc6ef;
color:white;
cursor: pointer;
border:none;
height: 30px;
width:75px;
border-radius: 10px;
font-family: "Open Sans";
font-size: medium;
}

.login
{
  position:absolute;
  left:77%;
  top:37.5%
}

.signup
{
position:absolute;
  left:86%;
  top:37.5%
}

