<md-card class='header'>
  <span class="title">DealCrumbs</span>

  <input type="search" class='searchbox' [placeholder]="value"/>
  <i class="material-icons" >search</i>

  <div class="loginSection">
    <button class="login" >Login</button>
    <button class="signup">Sign Up</button>
  </div>
</md-card>
