<div class="product-detail-info-container">

    <div class="product-detailed-information-section">

        <div class="detailed-info-product-image">
            <img class="product-image" src="{{ deal.img }}"
                alt="">
        </div>

        <div class="detailed-info-content">
            <div class="product-title"> {{ deal.ItemName }} </div>

            <div class="product-price-info">
                <div class="product-deal-price-text"> ${{ deal.discountPrice }} </div>
                <div class="product-msrp">
                    <div class="msrp-text"> MSRP ${{ deal.actualPrice }} </div>
                    <div class="amount-saved"> Save ${{ deal.dealvalue }} </div>
                </div>
                <div class="see-deals"> See deals </div>
            </div>

            <div class="product-deals-info">
                <div class="available-site"> Available at Amazon.com </div>
                <div class="cashback-info"> 5% Cash Back </div>
            </div>

            <div class="product-description">
                <p class="product-description-text">
                    The sound is impressive. These are not just for bass heads. The sound is immersive, full and the clarity 
                    is outstanding. I tried out several and nothing I listened to compared to the overall sound of the Beats
                     Studio headphones. The Bose were excellent for clarity, but lacked any low end. The JBL Everest 
                     headphones were flat and the music sounded flat. The Sony's were muddy sounding and the bass was 
                     overwhelming. The Beats Studio hit all my requirements with a solid low end, clear but not shrill highs 
                     and a smooth mid range.</p>
                            </div>

            <div class="forum-redirect-link"> Go to Forums Post > </div>
        </div>
    </div>

    <div class="product-details-share-section">
        <div class="count-value"></div>

        <div class="share-links"></div>
    </div>
</div>
