.product-detail-info-container {
    border: 1px solid lightgray;
    width: 100%;
}

.product-detailed-information-section {
    height: 350px;
    width: 100%;
    display: inline-flex;
    font-family: "Open Sans";
    align-content: center;
}

.product-details-share-section {
    height: 50px;
    background-color: lightgray;
}

.detailed-info-product-image {
    width: 20%;
    height: 250px;
    text-align: center;
}

.detailed-info-content {
    width: 70%;
    height: 400px;
    padding-top: 30px;

}
.product-image {
    height: 200px;
    max-width: 300px;
    position: relative;
    left: 30px;
    top: 80px;
}

.product-title {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: 140px;
    font-family: "Open Sans";
    color: #3a3a3a;
}

.product-price-info {
    display: inline-flex;
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Open Sans";
}

.product-deal-price-text {
    width: 18%;
    height: 50px;
    position: relative;
    left: 140px;
    border-right: 1px solid grey;
    font-size: 35px;
    color: #ffa200;
    font-weight: bolder;
    font-family: "Open Sans";
    padding-right: 40px;
    text-align: center;
    padding-top: 5px;
}

.product-msrp {
    width: 20%;
    text-align: center;
    padding-top: 10px;
    position: relative;
    left: 150px;
    font-size: 12px;
    color: darkgray;
    font-family: "Open Sans";
}

.see-deals {
        width: 150px;
    background-color: #4bc6ef;
    border-radius: 10px;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    left: 160px;
    text-align: center;
    height: 30px;
    top: 10px;
    padding-top: 5px;
}

.product-deals-info {
    width: 60%;
    display: inline-flex;
    font-weight: bold;
    position:relative;
    left:140px;
    font-size: x-small;
    color:#7b7b7b;
    }

.available-site {
    width: 75%;
    
}

.cashback-info {
    width: 40%;
    position:relative;
    left:60px;
}

.product-description-text {
    padding-right: 20px;
    color: grey;
    position: relative;
    left: 140px;
    font-size: x-small;
    width:400px;
}

.forum-redirect-link {
    color: #4bc6ef;
    font-weight: bolder;
    position: relative;
    left: 140px;
    font-size: 13px;
}