@import '/node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
.homepage {
  height: 1880px;
  width:100%;
}
.dc-header
{
 background-color: #3a3a3a;
}
.footer-title
{
  color: #4bc6ef;
  font-size: x-large;
  font-weight: bold;
}
.footer-notes {
  color:white;
  position:relative;
  top:10px;
  left:50px;
  font-size: small;
}

.dc-footer{
    background-color: #505050 !important;
    padding: 1rem;
    font-family: "Open Sans";
    padding-top: 40px;
}

.dc-footer-brand{
    padding-bottom: 0.5rem;
    color: #4bc6ef !important;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 500;
    position: relative;
    left: 32px;
}

.dc-footer-links{
    color: #fff !important;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 100;
    padding-bottom: 0.2rem;
    position: relative;
    left: 32px;
}

.dc-footer-terms{
    padding-top: 1rem;
    padding-right: 11rem;
    color: #adadad !important;
    font-family: "Open Sans";
    font-size: 9px;
    font-weight: 10;
    position: relative;
    left: 32px;
    }
.dc-share-icon{
  color:#ffffff;
  cursor: pointer;
}
