<div class='homepage' style="background-color:#3a3a3a">
  <dc-header class="dc-header" ></dc-header>
  <tabs></tabs>
</div>
<div class="hp-footer" style="background-color:#505050;height:240px;width:100% ">
    <div class="dc-footer">
          <div class="container">
              <div class="dc-footer-brand">DealCrumbs</div>
              <div class="dc-footer-links">How it works</div>
              <div class="dc-footer-links">About</div>
              <div class="dc-footer-links">FAQ</div>
              <div class="dc-footer-links">Advertising Opportunities</div>
              <div><span class="dc-footer-terms">While DealCrumbs makes every effort to post correct information, offers are subject to change without notice. Some exlcusions may apply based on merchant policies.</span>
              <span>
                  <a class="dc-share-icon" >
                  <i class="fa fa-2x fa-fw fa-facebook"></i>
                  </a>
                  </span>
              <span>
                  <a class="dc-share-icon" >
                  <i class="fa fa-2x fa-fw fa-twitter"></i>
                  </a>
                  </span>
              <span>
                  <a class="dc-share-icon" >
                  <i class="fa fa-2x fa-fw fa-instagram"></i>
                  </a>
                  </span>
              <span>
                  <a class="dc-share-icon" >
                  <i class="fa fa-2x fa-fw fa-pinterest"></i>
                  </a>
                  </span>
              </div>
          </div>
        </div>
</div>
