.deal-page
{
width:100%;
height:1950px;
}
.nmenu{
  margin:0px;
  padding-left: 0px;
}
.banner
{
  width:100%;
  background-color:#4bc6ef;
  height:225px;
}
.title
{
  color:white;
  font-size:65px;
  position: absolute;
  top:100px;
  left: 13%;
  font-family:"Open Sans";
  font-weight: bolder;
}
.subtitle
{
  color:white;
  font-size:25px;
  position: absolute;
  top: 180px;
  left: 13%;
  font-family:"Open Sans";
}
.dealsbutton
{
  position: absolute;
  top: 230px;
  left: 13%;
  background-color: white;
  color:#4bc6ef;
  border:#4bc6ef;
  cursor: pointer;
  border-radius: 10px;
  font-family:"Open Sans";
}


.material-icons {
  font-size: 50px;
  color:white;
  cursor: pointer;
}

.storePanel
{
  height: 250px;
  width:100%;
  background-color:white;
}
.right-arrow{
  position:absolute;top:7%;left:92%;
}
.left-arrow{
  position:absolute;top:7%;left:50px;
}

.banner-img1{
  width:220px;
  background-color: #4bc6ef;
  position: relative;
  left:70%;
}
