<div class="deal-page" >
   <!-- <menu class='nmenu'></menu>  -->
  <div class='banner' >
    <span class='left-arrow'><i class="material-icons"  >keyboard_arrow_left</i></span>
    <span class='title' > FIND TOP DEALS</span>
    <span class='subtitle'>All the best deals on the internet.</span>
    <button class='dealsbutton' >See the deals</button>
    <img class="banner-img1" src="./images/BannerBeats.png" />
    <span class='right-arrow'><i class="material-icons"  >keyboard_arrow_right</i></span>
  </div>
  <div class="storePanel">
    <retail-partners ></retail-partners>
  </div>
  <div>
    <featured-deal-grid></featured-deal-grid>
    <missed-deals></missed-deals>
  </div>
</div>
