.retailstore{
width:100%
}
/deep/.storePanel[_ngcontent-c5] {
    height: 250px  !important;
    width: 100%;
    background-color: white;
}
.heading{
  position: relative;
  top:25px;
  left:50px;
  color:#4bc6ef;
  font-family:"Open Sans";
}

.allStores-btn
{
  position:relative;
  top:25px;
  left:55px;
  color:white;
  background-color: #4bc6ef;
  border:#4bc6ef;
  font:caption;
  cursor: pointer;
  border-radius: 5px;
  font-family:"Open Sans";
}
/deep/.mat-figure {
  border-color: grey !important;
}
/deep/.md-grid-tile{
  border-color:grey;
  border-width: 1px;

  }
/deep/.partner-tile
{
  text-align:center;
width:16.25% !important;
height:140px !important;
border-style: solid;
border-width: .5px;
border-color:#e8e8e8;
font-family:"Open Sans";
border-radius: 10px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 16px;
    padding-left: 15px;
    width:100%;

}
.store-icon
{
  cursor: pointer;
}
.title{
  padding-bottom: 15px;
}

.CashBack{
  font-family: "Open Sans";
  text-align: center;
  font-size: x-small;
  font-weight: bold;
  color:#4bc6ef;
  padding-top: 20px;
}
