<div class="retailstore">
   <div class="title">
    <span class='heading'>Cash Back Retail Partners </span>
    <button class='allStores-btn'>See All Stores</button>
   </div>

  <table>
    <div class="store-table" >
    <td class= "partner-tile"   *ngFor="let store of stores; let i = index;"  >
        <img class='store-icon' [src]='store.storeimageUrl' style='border-top-color: grey'/>
        <div class="CashBack"> 10% Cash Back</div>
    </td>
    </div>
  </table>
</div>
