.fd-heading{
  position: relative;
  top:26px;
  left:0px;
  color:#4bc6ef;
  font-family: "Open Sans";
}
.fd-button
{
  position:relative;
  top:26px;
  left:10px;
  color:white;
  background-color: #4bc6ef;
  border:#4bc6ef;
  font:caption;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Open Sans";
}
.featured-deals
{
  height: 850px;
  background-color: #E6E6E6;
  padding-left: 50px !important;
  padding-right: 40px !important;
}

/deep/ .mat-grid-list
{
  padding-top: 45px !important;
  padding-bottom: 0px !important;
  justify-content: center !important;
}
/deep/ md-grid-tile[_ngcontent-c10]
{
 background: white;
 width: calc(((16% - 0.8px) * 1) + 0px) !important;
}

/deep/ .mat-grid-tile .mat-grid-tile-header, .mat-grid-tile
{
 display: block !important;
 background-color: white !important;
 color:grey !important;
 justify-content: center !important;
 font-family: "Open Sans";
}
/deep/.mat-grid-tile-footer
{
background-color:#4bc6ef !important;
}
.actualprice
{
  color: #ffa200;
    font-family: "Open Sans";
    font-weight: bold !important;
}
.msrp[_ngcontent-c10]
{
    font-size: 8px !important;
    font-family: "Open Sans";
}
/deep/.fd-header-img
{
    position: absolute;
    left: 55px !important;
    cursor: pointer;

}
.fd-dealimg
{
    width: 85px;
    height: 100px;
}

/deep/ .fd-footer
{
  background-color: #4bc6ef !important;
  display: flex;
  font-size: xx-small !important;
  font-family: "Open Sans";
  align-items: center;
  cursor: pointer;
  height:30px !important;
}
/deep/ .bonus-perc {
    background-color: white;
    border-radius: 40px;
    border: #4bc6ef;
    color: #4bc6ef;
    font-family: "Open Sans";
}
.bonus-tile
{
  padding-right: 20px;
}
.material-icons
{
padding-left: 25px;
}
/deep/.mat-card-content{
  font-size: 8px;
  font-weight: bold;
  margin-bottom:1px;
  font-family: "Open Sans";
}
.fd-content{
  height: 100px;
  width: 100px;
}
