<div class="featured-deals">
   <span class="fd-heading"> Featured Deals</span>
   <button class="fd-button">See All Deals</button>
   <md-grid-list class='fd-deal-grid' gutterSize ="40px" cols="5"  rows="3" rowHeight="1:1.3"  >
     <span *ngFor="let deal of fdeals">
        <md-grid-tile class="fd-tiles" (click)="onClick(deal)">
           <md-grid-tile-header>
             <div class="actualprice">${{deal.discountPrice}}
               <img class="fd-header-img" src='./images/fd-header.png'/>
             </div>
             <div class="msrp">MSRP:${{deal.actualPrice}}</div>
          </md-grid-tile-header>
             <md-card-content>
              <div class="fd-content"><img class="fd-dealimg" src='{{deal.img}}' style="cursor:pointer"></div>
              <div class="ItemName">{{deal.ItemName}}</div>
              <div class="cash-back">
                <span class="cash-back-name" style="font-weight:lighter">{{deal.cashBackName}}</span>
                <span class="cash-back-perc" style="color:#1ab7ea;font-size: large">{{deal.dealvalue}}%</span>
              </div>
            </md-card-content>
           <md-grid-tile-footer >
             <div class="fd-footer">
               <div class="bonus-tile">Share Bonus</div>
               <button class="bonus-perc">
                 {{deal.shareBonus}}
               </button>
               <i class="material-icons">share</i>
             </div>

           </md-grid-tile-footer>
        </md-grid-tile>
    </span>
</md-grid-list>
</div>

