.md-header{
  position: relative;
  top:40px;
  font-family: "Open Sans";
  color:#4bc6ef;
  padding-bottom: 25px;
}
.md-dealsbutton
{
  position:relative;
  left:15px;
  color:white;
  background-color: #4bc6ef;
  border:#4bc6ef;
  font:caption;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Open Sans";
}
/deep/.missed-deals-sec
{
  background-color:#e6e6e6;
  height:400px;
  padding-left: 50px !important;
  padding-right: 20px !important;
}

/deep/ .mat-grid-list
{
  padding-top: 45px !important;
  padding-bottom: 0px !important;
  justify-content: center !important;
}

/deep/ md-grid-tile[_ngcontent-c11]
{
 background-color: white;
 width: calc(((16% - 0.8px) * 1) + 0px) !important;
}

/deep/ .mat-grid-tile .mat-grid-tile-header
{
 display: block !important;
 background-color: white !important;
 color:grey !important;
 justify-content: center !important;
}
/deep/.mat-grid-tile .mat-figure{
  color:grey !important;
}

/deep/.mat-grid-tile-footer
{
background-color:#4bc6ef !important;
}
.actualprice
{
  color: #ffa200;
    font-family: "Open Sans";
    font-weight: bold !important;
}
.msrp
{
    font-family: "Open Sans";
    font-size: 8px !important;
}
/deep/.fd-header-img
{
    position: relative;
    left: 80px;
}
/deep/.fd-dealimg
{
  width:85px;
  height:100px;
}

/deep/ .fd-footer
{
  background-color: #4bc6ef !important;
  display: flex;
  font-size: xx-small !important;
  align-items: center;
  cursor: pointer
}
/deep/ .bonus-perc {
    background-color: white;
    border-radius: 40px;
    border: #4bc6ef;
    color: #4bc6ef;
}
.bonus-tile
{
  padding-right: 20px;
}
.material-icons
{
padding-left: 25px;
}
/deep/.mat-card-content{
  font-size: 8px;
  font-weight: bold;
  margin-bottom:1px;
}
.fd-content{
  height: 100px;
  width: 100px;

}
