<div class="missed-deals-sec">
  <div class = "md-header" style="color:#4bc6ef">
    <span>Deals You Missed</span>
    <button class='md-dealsbutton' >See More</button>
  </div>
  <md-grid-list class='md-deal-grid' gutterSize = "15px" cols="5"  rows="1" rowHeight="1:1.3"  >
        <md-grid-tile class="fd-tiles" *ngFor="let deal of mdeals" >
           <md-grid-tile-header>
             <div class="actualprice">${{deal.discountPrice}}
               <img class="fd-header-img" src='./images/fd-header.png'/>
             </div>
             <div class="msrp">MSRP:${{deal.actualPrice}}</div>
          </md-grid-tile-header>

           <md-card-content>
              <div class="fd-content"><img class="fd-dealimg" src='{{deal.img}}' style="cursor:pointer"></div>
              <div class="ItemName">{{deal.ItemName}}</div>
              <div class="cash-back">
                <span class="cash-back-name" style="font-weight:lighter">{{deal.cashBackName}}</span>
                <span class="cash-back-perc" style="color:#1ab7ea;font-size: large">{{deal.dealvalue}}%</span>
              </div>
            </md-card-content>

           <md-grid-tile-footer >
             <div class="fd-footer">
               <div class="bonus-tile">Share Bonus</div>
               <button class="bonus-perc">
                 {{deal.shareBonus}}
               </button>
               <i class="material-icons">share</i>
             </div>

           </md-grid-tile-footer>
        </md-grid-tile>

</md-grid-list>
</div>
