<div class="pricing-history-container">
    <div class="pricing-history-chart-section">
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="pricingHistory" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
            [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [autoScale]="autoScale"
            (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>

    <div class="pricing-history-title-section">
        Pricing History
    </div>
</div>