.pricing-history-container {
    border: 1px solid lightgray;
}

.pricing-history-chart-section {
    height: 180px;
    padding: 10px;
}

.pricing-history-title-section {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: lightgray;
    font-size: 17px;
    color: #7b7b7b;
    font-family: "Open sans";
}