<div class="dc-category">
         <div class="container">
            <ul class="dc-category-tabs nav nav-pills nav-fill">
               <div class="nav-item">
                  <a class="dc-category-tab nav-link" >
                     <i class="fa fa-3x fa-heart"></i>
                     <div class="dc-sub-nav-text">Favorites</div>
                  </a>
               </div>
               <div class="nav-item">
                  <a class="dc-category-tab nav-link" >
                     <i class="fa fa-3x fa-history"></i>
                     <div class="dc-sub-nav-text">History</div>
                  </a>
               </div>
               <div class="nav-item">
                  <a class="dc-category-tab nav-link" >
                     <i class="fa fa-3x fa-line-chart"></i>
                     <div class="dc-sub-nav-text">Trending</div>
                  </a>
               </div>
               <div class="nav-item">
                  <a class="dc-category-tab nav-link" >
                     <i class="fa fa-3x fa-home" (click)="onClick()"></i>
                     <div class="dc-sub-nav-text"  >Home</div>
                  </a>
               </div>
               <div class="nav-item">
                  <a class="dc-category-tab nav-link" >
                     <i class="fa fa-3x fa-desktop"></i>
                     <div class="dc-sub-nav-text">Computers</div>
                  </a>
               </div>
               <div class="nav-item">
                  <a class="dc-category-tab nav-link" >
                     <i class="fa fa-3x fa-gamepad"></i>
                     <div class="dc-sub-nav-text">Games</div>
                  </a>
               </div>
               <div class="nav-item">
                  <a class="dc-category-tab nav-link" >
                     <i class="fa fa-3x fa-camera"></i>
                     <div class="dc-sub-nav-text">Photography</div>
                  </a>
               </div>
               <div class="nav-item">
                  <a class="dc-category-tab nav-link" >
                     <i class="fa fa-3x fa-book"></i>
                     <div class="dc-sub-nav-text">Books</div>
                  </a>
               </div>
            </ul>
         </div>
      </div>
