.mtable {
  color:#ffffff;
  width: 100.5%;
  margin-bottom: 0px;
  padding-left: 17%;
  background-color: #505050;
}
.material-icons
{
  padding-right: 8%;
  font-size: 50px;
  cursor: pointer;
}

.dc-category{
    background-color: #505050 !important;
    height: 70px;
}
.dc-category-tabs{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 0.25rem;
    display: inline-flex;
    height: 40px;
    position: relative;
    text-align: center;
    align-content: center;
    left: 25px;
}
.dc-category-tab{
    color: white !important;
    font-family: "Open Sans";
    font-size: 10px;
    padding-right: 0.75rem;
}
.nmenu[_ngcontent-c5] {
    margin: 0px;
    padding-left: 0px;
    background-color: #505050 !important;
}
.fa-3x {
    font-size: 3.5em;
}

.container{
  height:60px;
}
/deep/.nav-item{
    padding-right: 50px;
    padding-left: 20px;
    cursor: pointer;
}
