<div class='banner' >

    <span class='title' > FIND TOP DEALS</span>
    <span class='subtitle'>All the best deals on the internet.</span>
    <button class='dealsbutton' >See the deals</button>
    <img class="banner-img1" src="./images/BannerBeats.png" />

</div>

